@page "/counter"
@rendermode InteractiveServer // server side rendering

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<!-- display/render the value of a C# expression in Razor-->
<p role="status">Current count: @currentCount</p>

<!-- You can also be explicit about the beginning and ending of the expression using parens.-->
<p role="status">Explicit current count: @(currentCount)</p>

<!-- Conditional rendering using C# if statement in Razor-->
@if (currentCount > 3)
{
    <p>Counter clicks greater then 3!</p>
}


<button class="btn btn-primary" @onclick="IncrementCount">Click me with parameter</button>
<p></p>
@if (items.Count > 0)
{
    <p>Product List:</p>
    <ul>
        @foreach (var item in items)
        {
            <li>@item.Name</li>
        }
    </ul>
}

@code {
    private int currentCount = 0;

    /// <summary>
    /// The amount to increment the counter by.
    /// passed as a parameter from the parent component
    /// </summary>
    [Parameter]
    public int IncrementAmount { get; set; } = 1; // default increment amount when parameter not provided

    private void IncrementCount()
    {
        currentCount += IncrementAmount;
    }

    // creating a simple list of products
    public class Product
    {
        public required string Name { get; set; }
    }

    List<Product> items = new List<Product>()
    {
    new Product { Name = "Keyboard" },
    new Product { Name = "Mouse" },
    new Product { Name = "Monitor" }
    };
}